@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap);

$main_font: 'Roboto', sans-serif;
$secondary_font: 'Roboto Condensed',sans-serif;


$btn: #751B5C;
$input-background:rgba(255, 255, 255, 0.1);


$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;
$ultradesktop-breakpoint: 1660px;